.dice-container {
  --dice-scale-factor: 1.25;
  --dice-margin: calc(var(--board-tile-size) * 0.25);
  --player-name-padding: calc(var(--board-tile-size) * 0.5);
  position: absolute;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.dice-container * {
  user-select: none;
}
.dice {
  background-color: white;
  border: 2px solid var(--player-colour);
  height: calc(var(--board-tile-size) * var(--dice-scale-factor));
  width: calc(var(--board-tile-size) * var(--dice-scale-factor));
  border-radius: calc(var(--board-tile-size) * 0.18);
  padding: calc(var(--board-tile-size) * 0.17);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: not-allowed;
}
.dice.active {
  cursor: pointer;
  animation: pulse 1s infinite;
  box-shadow: 0 0 10px 4px var(--player-colour);
}
.dice > img {
  width: 100%;
  height: 100%;
}
.dice-container.blue {
  top: 100%;
  margin-top: var(--dice-margin);
}
.dice-container.red {
  bottom: 100%;
  margin-bottom: var(--dice-margin);
}
.dice-container.green {
  bottom: 100%;
  right: 0;
  margin-bottom: var(--dice-margin);
  flex-direction: row-reverse;
}
.dice-container.yellow {
  top: 100%;
  right: 0;
  margin-top: var(--dice-margin);
  flex-direction: row-reverse;
}
.player-name {
  padding: 0 var(--player-name-padding) 0 var(--player-name-padding);
  font-weight: bold;
  font-size: calc(var(--board-tile-size) * 0.45);
  cursor: default;
  width: calc(var(--board-tile-size) * 5.5);
  word-break: break-all;
}
.dice-container.green .player-name,
.dice-container.yellow .player-name {
  text-align: end;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 calc(var(--board-tile-size) / 8) calc(var(--board-tile-size) / 40)
      var(--player-colour);
  }
  50% {
    transform: scale(1.07);
    box-shadow: 0 0 calc(var(--board-tile-size) / 4) calc(var(--board-tile-size) / 10)
      var(--player-colour);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 calc(var(--board-tile-size) / 8) calc(var(--board-tile-size) / 40)
      var(--player-colour);
  }
}
