.token {
  position: absolute;
  z-index: 10;
  will-change: transform;
  transform: translateZ(0);
  height: calc(var(--token-height));
  background: none;
  border: none;
  outline: none;
  width: calc(var(--token-width));
  transition: transform var(--token-transition-time) var(--token-transition-timing-fn);
}
.token * {
  user-select: none;
}

.bouncer {
  display: block;
  width: 100%;
  height: 100%;
}

.bouncer.active {
  animation: bounce 0.7s ease-in-out infinite;
  cursor: pointer;
}

.svg {
  display: block;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
}

.token:focus-visible .svg {
  transition:
    transform 300ms cubic-bezier(0.34, 1.56, 0.64, 1),
    filter 300ms ease;
  transform: translate3d(0, -12px, 0) scale(1.1);
  filter: drop-shadow(0 15px 6px rgba(0, 0, 0, 0.4));
}
@keyframes bounce {
  0%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -8px, 0);
  }
}
