.player-setup {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-setup-dialog {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 55vh;
  width: auto;
  aspect-ratio: 1.8 / 1.5;
  background-color: white;
  border-radius: 3%;
  overflow: hidden;
  -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
}
.player-count-selector {
  position: relative;
  height: 9%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px solid #aaa;
}

.player-count-selector::before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 12.5%;
  width: calc(var(--dialog-width) / 3);
  background-color: var(--color-primary);
  border-radius: 10px;
  transform: translateX(calc(var(--dialog-width) / 3 * (var(--player-count) - 2)));
  transition: transform 250ms ease;
  z-index: 10;
}
.player-count {
  background: none;
  border: none;
  font-size: calc(var(--dialog-width) / 23);
  transition:
    background-color 250ms ease-in-out,
    font-size 100ms ease;
  user-select: none;
}
.player-count:hover {
  background-color: #ddd;
  cursor: pointer;
}

.player-count:active {
  font-size: calc(var(--dialog-width) / 26);
}
.player-inputs {
  padding-top: calc(var(--dialog-width) / 20);
  flex: 1;
  min-height: 0;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
}

.play-btn {
  height: auto;
  background-color: var(--color-primary);
  color: white;
  border: none;
  font-size: calc(var(--dialog-width) / 17);
  margin-top: calc(var(--dialog-width) / 35);
  margin-bottom: calc(var(--dialog-width) / 25);
  padding-block: calc(var(--dialog-width) / 40);
  padding-inline: calc(var(--dialog-width) / 20);
  border-radius: calc(var(--dialog-width) / 45);
  transition:
    background-color 0.2s ease,
    transform 0.2s ease;
  text-decoration: none;
  cursor: pointer;
}
.play-btn:hover,
.play-btn:active,
.play-btn:focus {
  background-color: var(--color-primary-hover);
  transform: scale(1.05);
}

.version {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: calc(var(--dialog-width) / 60);
  font-size: calc(var(--dialog-width) / 30);
  color: rgba(0, 0, 0, 0.65);
}

.go-to-home {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-primary);
  color: white;
  border: none;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
}

.go-to-home > svg {
  height: 1.6rem;
}

.go-to-home:hover,
.go-to-home:active,
.go-to-home:focus {
  background-color: var(--color-primary-hover);
}

@media only screen and (max-width: calc(1.8 / 1.5 * 60vh)) {
  .player-setup-dialog {
    height: auto;
    width: 92vw;
  }
}
