.game-finished-screen {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.game-finished-backdrop {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: black;
  z-index: 15;
  overflow: hidden;
}
.game-finished-dialog {
  position: relative;
  height: calc(var(--board-tile-size) * 12);
  width: calc(var(--board-tile-size) * 14);
  background-color: white;
  z-index: 25;
  border-radius: var(--board-tile-size);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: calc(var(--board-tile-size) * 0.5);
  border-radius: calc(var(--board-tile-size) * 0.5);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.game-finished-text {
  font-size: var(--board-tile-size);
  font-weight: 600;
}
.game-result {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.play-again-btn {
  bottom: 0;
  background-color: var(--color-primary);
  color: white;
  border: none;
  font-size: calc(var(--board-tile-size) * 0.65);
  padding: calc(var(--board-tile-size) * 0.45);
  margin-top: calc(var(--board-tile-size) * 0.45);
  border-radius: calc(var(--board-tile-size) * 0.2);
  text-decoration: none;
  transition:
    background-color 0.2s ease,
    transform 0.2s ease;
  cursor: pointer;
}

.play-again-btn:hover,
.play-again-btn:focus-visible {
  background-color: var(--color-primary-hover);
  transform: scale(1.05);
}
