* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  max-width: 100vw;
  background-color: #f8fafc;
  font-family: 'Inter', 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
  --color-primary: #4f46e5; /* Primary (Indigo-600) */
  --color-primary-hover: #4338ca; /* Primary hover (Indigo-700) */
}
