.not-found-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}
.not-found-dialog > * {
  text-align: center;
}

.not-found-dialog {
  background-color: #fff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  padding: 30px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found-dialog h1 {
  /* font-size: clamp(4em, 8vw, 8em); */
  color: #e5152a;
  font-size: 5em;
}

.not-found-dialog .go-to-home-btn {
  background-color: var(--color-primary);
  color: white;
  border: none;
  font-size: 1.4em;
  /* font-size: clamp(1em, 2.5vw, 2em); */

  padding: 0.8em;
  border-radius: 0.7em;
  text-decoration: none;
  margin-top: 1.3em;
  transition:
    background-color 0.2s ease,
    transform 0.2s ease;
  cursor: pointer;
}

.not-found-dialog .go-to-home-btn:hover,
.not-found-dialog .go-to-home-btn:focus-visible {
  background-color: var(--color-primary-hover);
  transform: scale(1.05);
}

.oops {
  font-size: 1.2em;
  padding-block: 10px;
}
.message {
  padding-block: 10px;
}

@media (min-width: 1600px) {
  .not-found-dialog {
    font-size: 1.5rem;
  }
}
